@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos globales */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../images/fondo-uleam.jpg');
  background-size: cover;
  overflow-y: scroll;

}

html{
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

 /* ------------------------------[  Control | cabezera de la pagina ]----------------------------------------- */

.header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 /* ------------------------------[  Control | logo ]----------------------------------------- */

.logo {
  width: 150px; 
  height: 150px; 
  display: block; 
  margin-top: 190px;
  text-align: center; 
}


/* Contenedor principal */
.datos-contenedor {
  display: flex;
  min-height: calc(100% - 100px); 
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
}

/* Encabezado */
h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

 /* ------------------------------[  Control | login.html y registro.html ]----------------------------------------- */

/* Formularios */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}


/* Campos de entrada */
.separador {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

 /* ----------------------------------------------------------------------- */


  /* ----------------------[ control de ingresar datos y sus colores]------------------------------- */

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"] {
  padding: 1rem;
  border: 1px solid #eed2d2;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0px 0px 5px #abcef3;
}

/* Botones */
button[type="submit"], .enviarbtn {
  background-color: #29b6c9;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}

button[type="eliminate"] {
  background-color: #d43b3b;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1px;
}


button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Aceptar terminos y condiciones */

.terms {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #333;
}

 /* ----------------------------------------------------------------------- */


 /* ------------------------------[ Control | Habitacion.html | ]----------------------------------------- */

.gestion {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 90px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}

.habitaciones-contenedor {
  margin-top: 20px;
  margin-bottom: 20px;
}

.habitaciones-contenedor h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.habitaciones-cuadricula {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.room {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}

.room h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.room p {
  margin-bottom: 0.5rem;
}

.room ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.room li {
  margin-bottom: 0.25rem;
}
.reservas-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.reservas-contenedor h1 {
  margin-bottom: 1rem;
}
.gestion-boton {
  position: relative; /* se necesita una posición relativa en el contenedor para usar las propiedades top, bottom, left y right */
}

.gestion-boton button {
  position: absolute; 
  top: 50%; 
  left: 85%; 
  transform: translate(-50%, -80%); 
}

#tipo-habitacion , #metodo-pago{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 1rem;
}

 /* ------------------------------[  | Habitacion.html ]----------------------------------------- */

 /* --------------------------[  Se utiliza para ocultar un elemento HTM ]------------------------------ */

.hidden {
  display: none;
}
 /* ----------------------------------------------------------------------- */


 /* ------------------------------[  Tablas | Administrador.html ]----------------------------------------- */

 /* contenedor de las tablas de administrador */

.contenedor-tabla {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 90px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}

 /* Estilos de la tabla de habitaciones */
.tabla-habitaciones, .tabla-estudiantes {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
}

.tabla-habitaciones th, .tabla-estudiantes th,
.tabla-habitaciones td, .tabla-estudiantes td {
  padding: 12px;
  text-align: center;
}

.tabla-habitaciones th, .tabla-estudiantes th {
  background-color: #4CAF50;
  color: #fff;
}

.tabla-habitaciones tbody tr:nth-child(even), .tabla-estudiantes tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.botones-habitaciones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 40%;
}

 /* ------------------------------[  Tablas ]----------------------------------------- */


  /* ------------------------------[  parte final ]----------------------------------------- */

.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
}


